@import "./src/styles/variables";


.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

span {

  text-align: left
}

.body {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 1360px;
  min-height: 636px;
  background: #2C2C2E;
  box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25), 0px 0px 26px rgba(0, 0, 0, 0.53), inset 4px 4px 27px rgba(137, 137, 137, 0.33);
  border-radius: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 1px solid $gold;
  border-radius: 100%;
  margin-right: 32px;
  cursor: pointer;

}

.prev {
  background: #775C3A;
  border: 1px solid #775C3A;

}

.active {
  background: $gold;
}


.pagination {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
}

.itemsWithImage {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemRow {
  width: 290px;
  height: 233px;
}

.radioBtn {
  padding-top: 20px;
}

.input {
  margin-top: 40px;
  padding: 10px;
  width: 400px;
  height: 56px;
  border: 1px solid #1EAB5F;
  border-radius: 5px;
  background: $background;
  color: white;
  font-size: 24px;
}

.items {
  display: flex;
  flex-direction: column;
}