@import "./src/styles/variables";

.wrapper {
  padding-top: 50px;
  padding-bottom: 80px;
}
.info {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
  color: $text-color;
}
.content {
  padding: 40px;
  background: #2c2c2e;
  box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25),
    0px 0px 26px rgba(0, 0, 0, 0.53),
    inset 4px 4px 27px rgba(137, 137, 137, 0.33);
  border-radius: 10px;
}
